body {
    background-image: url(../images/background_img.jpg);
    background-size: 100%;
    font-family: 'Text Me One', sans-serif;
    color: yellow;
}

.container2 {
    margin: 10px;
}

.header2 {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color: white;
}

#links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 2%;
}

a {
    color: cyan;
    border-style: none;
    text-decoration: none;

}

a:hover {
    color: darkcyan;
}

#logo {
    letter-spacing: 1px;
    color: yellow;
    font-size: 65px;
    font-family: 'Text Me One', sans-serif;
    margin: 10px 0 0 10px;
}

p {
    color: gold;
    font-size: 18px;
    letter-spacing: 0.35px;
    font-family: 'Patrick Hand', cursive;
    background:rgba(0, 0, 0, 0.15);
}


.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
}

#time {
    width: 55%;
}

#slideshow {
    width: 88%;
    margin: 20px 10px 0 0;
    height: 40%;
}

#info {
    width: 40%;
    height: 400px;
    margin: 10px 0 0 10px;
}

.modalContent {
    color: black;
    background: transparent;
}